# Python
__pycache__/
*.pyc
instance/
.env
.venv/
venv/
env/

# Flask
server/instance/
server/__pycache__/

# React
client/node_modules/
client/build/
.env.local
.env.development
.env.production

# IDE
.vscode/
.DS_Store
*.swp
*.swo

# Database
*.db
*.sqlite