[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-bcrypt = "*"
flask-cors = "*"
python-dotenv = "*"
gunicorn = "*"
faker = "*"

[dev-packages]
ipdb = "*"

[requires]
python_version = "3.8"